*{
	padding: 0px;
	margin: 0px;
}
.header-control{
	background-color:  #3F5C9A;
	width: 100%;
	height: 85px;
}
.control-align{
	width: 980px;
	height: 250px;
margin-left: auto;
margin-right: auto;
padding-right: 0px;

}
.img-control{
float: left;
}
.img-control p {
	width: 210px;
	height: 50px;
	margin-top: 25px;
	margin-left: 0px;
	color: white;
  font-size:40px;
  font-family: Arial;
}
.login{
	float: right;
	font-size: 12px;
	font-family: Arial;
	color: white;
	margin: 20px;
    
}
.login p {
margin-left: 10px;
}
.inputtxt{
	width: 150px;
	height: 20px;
	margin-left: 10px;
}
.btn{
	background-color:  #6495ED;
	color: white;
	font-family: Arial;
	padding: 3.3px; 05px; 05px; 05px;
	border: none; 
	border-radius: 0.3px;
	margin-left: 10px;

}
.login a{
	margin-left: 10px;
	color: white;
	text-decoration: none;
}
.cbox{
	margin-left: 10px;
}
.content-control{
width: 980px;
height: 500px;
margin-left:auto;
margin-right: auto;
}

.left{
	float: left;
	margin-top: 20px;
	width:400px;
	font-family: Arial;
	color:	#4682B4;
}
.left h4 {
margin-bottom: 20px;
margin-top:6px 
}
.right{
	float: right;
	font-family: Arial;
}
.inpt {
width: 180px;
height: 26px;
margin-top: 10px;
margin-left: 5px;
border: 1px solid #87CEFA;
padding-left: 10px;
font-size: 12px;
border-radius: 5px;
 border-style: round;
}

.inpt2{
	height:26px; 
	padding-left: 10px;
	width:380px;
	margin-top: 10px;
margin-left: 5px;
border: 1px solid #87CEFA;
font-size: 12px;
 border-radius: 5px;
 border-style: round;
}
.date{
height:26px; 
padding-left: 10px;
	width:190px;
	margin-top: 10px;
margin-left: 5px;
border: 1px solid #87CEFA;
font-size: 12px;
 border-radius: 5px;
 border-style: round;	
}
.rdbtn{
	font-style: 10px;

	margin-top: 10px;
margin-left: 5px;
 
}
.terms{
	width: 380px;
	font-size: 10px;
	margin-top: 30px;
	padding-left: 10px;
}
.submit-btn{
	height:26px; 
padding-left: 10px;
	width:190px;
	margin-top: 10px;
margin-left: 5px;
border: 1px solid #87CEFA;
font-size: 14px;
 border-radius: 5px;
 border-style: round;
 margin-bottom: 5px;
 background-color: green;
 color: white;
}
.txt{
	margin-top: 15px;
	font-size: 12px;
}
.footer{
	
padding: 50px;
  background-color: black;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
}
.footer1 a{
	color: white;
	padding: 0 3em 2em 0;
	text-align: center;
	margin: 10px;
}
.footer1 p{
	text-align: center;
	margin-bottom: 5px;
}
.footer2 a{
color: #20B2AA;
	padding: 0 3em 2em 0;
	text-align: center;
	margin: 10px;
}